doctype html
html(lang="en")
	head
		meta(charset="utf-8")
		title Metachronica Murderer Game
		link(
			rel="stylesheet"
			type="text/css"
			href=staticFile('css/build/main.css')
		)
	body
		block content
