/**
 * @author Viacheslav Lotsmanov <lotsmanov89@gmail.com>
 * @license GNU/AGPLv3
 * @see {@link https://www.gnu.org/licenses/agpl-3.0.txt|License}
 */

@require 'nib'

@import 'variables'
@import 'fonts'

global-reset()
reset-html5()

html, body
	min-height 100%

body
	background black
	color white
	font 400 normal 22px/24px 'Old Standard', serif
	font-weight 400

#game
	padding 20px
	
	@import 'views/loader'
