/**
 * @author Viacheslav Lotsmanov <lotsmanov89@gmail.com>
 * @license GNU/AGPLv3
 * @see {@link https://www.gnu.org/licenses/agpl-3.0.txt|License}
 */

@require 'nib'

@import 'variables'
@import 'fonts'

global-reset()
reset-html5()

html, body
	height 100%
	min-height 400px

body
	background black
	color white
	font 400 normal 22px/24px 'Old Standard', serif
	font-weight 400
	
	// Snap.svg stuff
	& > svg
		visibility hidden
		overflow hidden
		absolute left -1px top -1px
		width 0
		height 0
		max-width 0
		max-height 0
		opacity 0

#game
	height 100%
	
	.at-start
		box-sizing border-box
		padding 20px
	
	.game
		height 100%
		
		@import 'views/loader'
