/**
 * @author Viacheslav Lotsmanov <lotsmanov89@gmail.com>
 * @license GNU/AGPLv3
 * @see {@link https://www.gnu.org/licenses/agpl-3.0.txt|License}
 */


// paths
	
	$rev-qs = '?v=' + REVISION
	$root-path = STATIC_DIR
	$fonts-path = pathjoin($root-path, 'fonts')
	$images-path = pathjoin($root-path, 'images')
	
// sizes
	
	// ≈ 16:9
	$min-width  = 980px
	$min-height = 550px
