/**
 * @author Viacheslav Lotsmanov <lotsmanov89@gmail.com>
 * @license GNU/AGPLv3
 * @see {@link https://www.gnu.org/licenses/agpl-3.0.txt|License}
 */

.loader
	display block
	height 100%
	position relative
	
	.death
	.progress-bar
	.load-text
		width 100%
		text-align center
		
		svg
			transform scale(1)
	
	.death
		absolute left 0 top 5%
	
	.progress-bar
		absolute left 0 bottom 5%
	
	.load-text
		absolute left 0 bottom 14%
		//font-size 32px
		//line-height 34px
