/**
 * @author Viacheslav Lotsmanov <lotsmanov89@gmail.com>
 * @license GNU/AGPLv3
 * @see {@link https://www.gnu.org/licenses/agpl-3.0.txt|License}
 */

.loader
	display block
	overflow hidden
	height 100%
	
	transform translateY(-50%)
	relative top 50%
	
	.hand
	.progress-bar
		size 100%
		absolute left 0 top 20px
